# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @Vanient @luohl364218 @hydai @jingxiaolu @juntao @flyflypeng @quincyliu001 @abel-von @Burning1020 @xietuo @sunyulin728 @kevin-wangzefeng 
